var.name = "psdmo"
var.region = "us-ashburn-1"
var.compartment_ocid = "ocid1.compartment.xxx"
var.subnet = "App Subnet"
var.availability_domain = 1
var.backup_policy = "silver"
var.shape = "VM.Standard2.1"
var.instance_number = "01"
var.storage = "100"
var.enable_public_ip = True
var.preserve_boot_volume = False
var.ssh_public_key = "ssh-rsa xxx"