name                    = "psdmo"
region                  = "us-ashburn-1"
compartment_ocid        = "ocid1.compartment.xxx"
subnet                  = "App Subnet"
availability_domain     = 1
fault_domain            = 1
backup_policy           = "silver"
shape                   = "VM.Standard2.1"
instance_number         = "01"
storage                 = "100"
enable_public_ip        = True
preserve_boot_volume    = False
ssh_public_key          = "ssh-rsa xxx"